#
# Copyright 2018-2021 Bradley Larrick. All rights reserved.
# Licensed under the Apache License v2.0
# http://www.apache.org/licenses/LICENSE-2.0
#
config.stopBubbling = true
lombok.accessors.chain=true
lombok.accessors.fluent=false
lombok.addLombokGeneratedAnnotation = true
lombok.equalsAndHashCode.doNotUseGetters = true
